<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
  </head>
  <body>
    <p>Here are the messages</p>
    <% if (locals.messages) { messages.forEach((element) => { %>
    <p><%= element %></p>
    <% })}; %>
    <form method="post" action="/menu/main">
      <label for="topic">Topic:</label><br />
      <input name="topic" type="text" placeholder="New Topic" /><br />
      <button type="submit" value="submit" id="send-button">Send</button
        ><br /><br />
  </body>
</html>
