<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/users/signup">
      <label for="username">Username:</label><br />
      <input name="username" type="text" placeholder="Username" /><br />
      <label for="password">Password:</label><br />
      <input name="password" type="password" placeholder="Password" /><br />
      <button type="submit" value="submit" id="send-button">Signup</button
      ><br /><br />
      <a href="/users/login">Already have an account? Login here.</a>
    </form>
  </body>
</html>
